{% extends 'base.html.twig' %}
{% block title %}Product{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="d-flex justify-content-center">
            <a class="navbar-brand mx-1">Vafa shop</a>
            <form method="get" class="input-group">
                <div class="form mx-1">
                    <input type="search" value="{% if query is defined %}{{ query }}{% endif %}" name="q"
                           class="form-control" placeholder="Search..."/>
                </div>
                <button type="submit" class="btn btn-primary ">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
                <div class="col mb-4 m-lg-0">
                    <div class="card " style="width: 28rem; height: 28rem; margin-top: 14px;">
                        <img class="card-img-top " src="/uploads/brochures/{{ product.url }}" alt="Card image cap"
                             style="height: 28rem; width: 28rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.Name }}</h5>
                            <p class="card-text">{{ product.Detail }}</p>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}"
                               class="btn btn-primary w-100">Show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
