{% extends 'base.html.twig' %}
{% block title %}Product List{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="d-flex justify-content-center">
            <a class="navbar-brand mx-1">Vafa shop</a>
            <form method="get" action="{{ path('app_product_search') }}" class="input-group">
                <div class="form mx-1">
                    <input type="search" value="{% if query is defined %}{{ query }}{% endif %}" name="q"
                           class="form-control" placeholder="Search..."/>
                </div>
                <select class="mx-1 rounded-2" name="c">
                    <option value="-1">All</option>
                    {% if categories is defined %}
                        {% for key, value in categories %}
                            <option value="{{ value }}">{{ key }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" class="btn btn-primary rounded-2">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
                <div class="col mb-4 m-lg-0">
                    <div class="card " style="width: 26rem; height: 29rem; margin-top: 14px;">
                        <img class="card-img-top " src="/uploads/brochures/{{ product.url }}" alt="Card image cap"
                             style="height: 20rem; width: 26rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.Name }}</h5>
                            <p class="card-text">{{ product.price }} T</p>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}"
                               class="btn btn-primary w-100">Show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
