{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>{{ product.Name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.Name }}</td>
        </tr>
        <tr>
            <th>Detail</th>
            <td>{{ product.Detail }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.Price }}</td>
        </tr>
        </tbody>
    </table>
    <button onclick="alert('You bought {{ product.Name }} Successfully')" class="btn btn-primary my-2 mx-2">Buy it!
    </button>
    <a href="{{ path('product_lists') }}" class="btn btn-dark my-2 mx-2">back to list</a>
{% endblock %}
